[Unit]
Description=Background service worker for litera to receive print request

[Service]
Type=simple
ExecStart=/usr/lib64/litera/worker/litera-worker

[Install]
WantedBy=multi-user.target